body{
    font-size: 1.2rem;
    display: flex;
    flex-wrap: wrap;
    color: darkred;
    background-color: cornsilk;
    font-family: sans-serif;
    background-color: #fff;
    border: 2px solid var(--input-border);
    border-radius: 4px;
    transition: 180ms box-shadow ease-in-out;
}
h2{
    margin-left: 1000px;
}
div{
    margin-left: 1000px;
    margin-top: 50px;
    color: darkred;

}
.w3-input{
    width: 300px;
}
.header{
     border:1px solid;
     padding: 10px;
     
}
.button {
    position: absolute;
    top: 65%;
    left: 86%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #f1f1f1;
    color: black;
    font-size: 16px;
    padding: 16px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
   
  }
  
.button:hover {
    background-color: black;
    color: white;
  }

